<!DOCTYPE html>
<html>
<head>
  <title>Rlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    #name_error { display: none; }
  </style>
  <%# yield :validation_js %>
<script>
  $(document).ready(function() {
  $("#workout_name").on("blur", function() {
    var valid = true;
    $.ajax({
      url: "/workouts.json",
      success: function(data) {
        for(i=0; i < data.length; i++) {
          if (data[i].name == $("#workout_name").val()) {
              $("#name_error").show();
              valid = false
              break;
          }
        }
        if (valid) {
          $("#name_error").hide();
        }
      }
    });
  });    
});
</script>

</head>
<body>

<%= yield %>

</body>
</html>
